CREATE TABLE Videos (id UUID PRIMARY KEY DEFAULT uuid_generate_v4(), series_id UUID REFERENCES \
VideoSeries\(id) ON DELETE CASCADE, script JSONB, audio_url TEXT, captions JSONB, image_urls JSONB, status TEXT, video_url TEXT, created_at TIMESTAMPTZ DEFAULT NOW());
